Source: mesaflash
Maintainer: Michael Geszkiewicz <micges@wp.pl>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: libpci-dev, debhelper

Package: mesaflash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mesa Electronics utility tool
	Configuration and diagnostic tool for
	Mesa Electronics PCI(E)/ETH/EPP/USB boards
